[Unit]
Description=Disable Ethernet Controller on the USB bus
Before=dhcpcd.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/unbind_eth
ExecStop=/usr/local/bin/bind_eth

[Install]
WantedBy=basic.target
