[Unit]
Description=Disable Ethernet Controller on the USB bus

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=-/bin/sh -c 'echo 1-1.1:1.0 > /sys/bus/usb/drivers/smsc95xx/unbind'
ExecStop=-/bin/sh -c 'echo 1-1.1:1.0 > /sys/bus/usb/drivers/smsc95xx/bind'

[Install]
WantedBy=basic.target
