all:
    children:
        ampis:
            hosts:
                my_amp:
                    eth_ip: 10.0.0.1
                    wifi_ip: 10.0.0.2
                    ansible_host: 10.0.0.2
                    country: GB
            vars:
                wifi_client:
                    - ssid: wifi_name
                      psk: secret_password
                    - ssid: wifi_name2
                      psk: secret_password2
                vnc_password: another_secret_password

# vi: sw=4 sts=4 et filetype=yaml
